table {
	max-height: 600px;
	border-left: 1px solid #4099FF;
	border-radius: 10px;
}

.feed-container {
	max-height: 250px;
	max-width:300px;
}

.wrap-td {
	word-wrap: break-word;
	max-width: 220px;
}

.smile-icon {
	width: 300px;
}
